/* -------------------PRESENTANTION PART---------------------------------------------*/
 .pres {
  width: 50%;
  margin-top:8%;
  font-style: normal;
  line-height: normal;
  font-size:1.4rem;
  
}
.pres p{
color:var(--white-color);
font-weight: 500;
text-align: left;
margin-bottom:40px;
}

.pres span{
  color: var(--primary-color); 
}

.buttons{
	font-family: 'Poppins', 'sans serif';
}
.buttons{
  display:flex;
  flex-wrap:wrap;
}
.buttons a {
  border:1px solid var(--primary-color);
  padding:8px 16px;
  border-radius:8px;
  margin-right:20px;
}

.buttons a:hover{
  transform:scale(1.08);
  color:var(--white-color);
  background:var(--primary-color);
  border-color:var(--text-color);
  border-color:var(--main-bg-color);
}
.container #avatar{
  width:380px;
  height:380px;
  display:flex;
  margin-top:8%;
}

 @media (max-width: 900px){
  p{
    font-size:1rem;
  }
  .flex{
    display:flex;
    flex-direction:column-reverse;
    align-items:center;
  }
  .pres{
    width:100%;
    text-align:center;
  }
  .pres p{
    text-align:center;
    margin-top:8px;
  }
  .buttons{
    justify-content:center;
  }
  .container #avatar{
    width:250px;
    height:250px;
    display:flex;
    margin-top:8%;
  }
 }