/* -------------------PROJECTS PAGE---------------------------------------------*/
.container h1,h2{
  font-size:20px;
}

.container .flex{
  padding:40px 4%;
  box-shadow:0 0 30px 10px rgba(36, 39, 45,0.9);
  gap:20px;
}
.card{
  border: 1px solid var(--text-color);
  width:360px; 
  height:auto;
  margin-top:3%;
  transition:0.2s;
}
.card:hover{
  transform:scale(1.02);
  box-shadow:0 0 30px 10px rgba(36, 39, 45,0.9);
}
figure img{
  width:100%;
  height:300px;
}
.card span{
  border: 1px solid var(--text-color);
  display:inline-block;
  width:100%
}
figcaption div p{
  text-align:justify;
  height:90px; 
}
figcaption div{
  padding:10px;
}
figcaption {
  height:170px;
}
.btn-github{
  padding:8px 20px;
  border-radius:8px;
  font-size:1rem;
  color:#000;
  background-color:var(--primary-color);
  margin-botTom:30px;
}
@media (max-width: 992px){
  .flex{
    flex-direction:column;
    align-items:center;
  }
  .card{
      width:85%;
      align-items:center;
      height:460px;
  } 
}
