/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
/*GENERAL STYLE*/
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Fira Code', monospace;
}
body{
background: #282C33;
color:#fff;
}
a{
  text-decoration:none;
  color:#ABB2BF;
}

.container{
  padding:10px 5%;
}
.flex{
  display:flex;
}
/* -------------------HEADER ,MENU PART---------------------------------------------*/
header > .container{
  display:flex;
  justify-content:space-between;  
}

header .logo p{
  font-weight:500;
}
header .logo p::first-letter{
  color:#fa7f72;
  font-size:20px; 
}

 ul li{
  list-style:none;
  display:inline-block;
}
header a{
  padding:30px 24px;
  display:inline-block;
  transition:.1.7s;
}
header a:hover{
  transform:scale(1.08);
  color:#fff;
}
header .container button{
  padding:8px 12px;
  border-radius:8px ;
  font-size:16px;
  background-color:#fa7f72;
  border:0;
  cursor:pointer;//change le cursor para o de link
}
header .container button:hover{
  box-shadow:0px 0px 2px #fa897d;
}

.container .flex{
  align-items:center;
  justify-content: space-between;
}
/* -------------------PRESENTANTION PART---------------------------------------------*/
.container .pres {
  max-width: 600px;
  margin-left:10%;
  font-style: normal;
  line-height: normal;
  font-size:22px;
  
}
.container .pres p{
color: #FFF;
font-weight: 600;
text-align: left;
margin-bottom:20px;
}

.container .pres span{
  color: #fa7f72; 
}

.container .pres a {
  border:1px solid #fa7f72;
  padding:8px 16px;
  border-radius:8px;
  font-size:14px;
}
.container .pres a:hover{
  transform:scale(1.08);
  color:#fff;
  background:#fa7f72;
  border-color: #282C33;
}
.container #avatar{
  width:350px;
  height:auto;
  display:flex;
}
/* -------------------À PROPOS PARTE---------------------------------------------*/

.container >.flex{
  align-items:center;
  justify-content:espace-between;
}
.propos h5{
  color:#fa7f72;
  margin-bottom:50px;
}
.propos p{
  text-align: left;
  padding:10px;
}
video{
  border-radius:20px;
  margin-top:50px;
}
.container .skill{
  margin-top:50px; 
  display:flex;
  justify-content:espace-between;
}
table{
  width:150px;
}
table,th{
  border-collapse:collapse;
  border: 1px solid #ABB2BF;
  padding: 0 5px;
  text-align:left;
}
.fun > span{
  border: 1px solid #ABB2BF;
  padding:2px 8px;
  font-size:12px; 
}

:is(h1,h2) span{
  color:#fa7f72;
}