@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*GENERAL STYLE*/
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;   
}
body{
background: #111;
color:#fff;
}
a{
  text-decoration:none;
  color:#fff;
}
.container{
 // margin:0 auto;
  max-width:1280px;
}
/* HEADER ,MENU PART*/
header{  
  padding:20px 5%;
}
header >.container{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

header .logo p{
  font-size:25px;
  font-weight:500;
}
header .logo p::first-letter{
  color:#fa7f72;
  font-size:35px; 
}

.nav ul li{
  list-style:none;
  display:inline-block;
}
header a{
  padding:30px 24px;
  display:inline-block;
  transition:.1.7s;
}
header a:hover{
  transform:scale(1.08);
}
header .container button{
  padding:10px 16px;
  border-radius:8px ;
  font-size:16px;
  background-color:#fa7f72;
  border:0;
  cursor:pointer;//change le cursor para o de link
}
header .container button:hover{
  box-shadow:0px 0px 3px #fa897d;
}
